/*body {
    background: url('/public/images/paragliding.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color:black; 
  }*/
  img{
    
    max-height: 550px;
    object-fit: cover;

  }